<div class="content">
  <div class="heading">
    <h1>
      Evan's Password Generator
    </h1>
    <h2>
      generates and copies a random password to your clipboard
    </h2>
  </div>
  <div class="choices">
    <!-- user can choose length of password -->
    <div>
      Length
      <select [(ngModel)]="passwordLength" (change)="dashUpdate()">
        <option *ngFor="let num of lengthChoices">{{num}}</option>
      </select>
    </div>
    <!-- user can choose which keys they'd like in the password -->
    <div *ngFor="let elm of keys" class="checks">
      <input type="checkbox" checked [(ngModel)]="elm.selected"> {{elm.display}}
    </div>
  </div>
  <div class="password">{{pass}}</div>
  <button (click)='generate()' class="generate">
    generate
  </button>
</div>