[type="checkbox"] {
  opacity: 0;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: .75em;
  height: .75em;
  border: 0.05em solid currentColor;
  background: #fff;
  left: 0;
  bottom: .2em;
  border-radius: 0.12em;
}

[type="checkbox"]:checked + label::before {
  background: black;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: .3em;
  bottom: .35em;
  
  width: .15em;
  height: .50em;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}